
.intro{
    padding-top: 2%;
    background-color: #f9f9f9;
    color: black;
    padding-bottom: 1%;
}
.imayank{
    text-align: center;
    font-family: sans-serif;
    margin-top: 2%;
    font-size: 40px;
}
.ipara{
    text-align: center;
    font-size: 25px;
}
.logo{
    margin: auto;
    display: block;
}

h1{
    text-align: center;

}
.wc{
    margin: auto;
    display: block;
}
.wcinfo{
    text-align: center;
    font-size: 25px;
}