@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.banner {
	max-width: 1608px;
	border-top: 8px solid #32c8de;
	background: #fff url('img/banner.png') no-repeat top left;
	height: 565px;
}

.banner .container {
	max-width: 800px;
}

.banner .banner-content {
	padding: 150px 0; 
}
p{
	margin-top: 0px;
	font-size: 26px;
	padding-left: 232px;
	color: white;
}
#mayank{

	margin-top: 10px;
	padding-left: 220px;
	font-size: 50px;
	color: white;
	font-family: sans-serif;
}

.innovations{
	margin-left: 35%;
	width: 30%;
}

.arduino{
	
}
#projects{
	margin-top: 5px;
	font-family: sans-serif;
	margin-bottom: 35%;
}
.wc{
	color: #524949;
}
.para{
	font-size: 20px;
}
#projects{
	
	max-width: 1608px;
}
